---
title: B2B/B2C portals development | iQuest s.r.o.
subtitle: Create a new and modern web and mobile portal environment for your customers, partners, or dealers, where they find all the information needed.
---
<div class="what-we-do">
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">B2B/B2C portals</h1>
  </div>
  <div class="info-container">
    <div class="info-container--skew-restore container">
      <div class="what-is m-b-10 p-b-10 text-center">
        <h2 data-aos="fade-up">Create modern environment of web and mobile portal for your customers, partners or dealers, where they find all the information needed.</h2>
        <h3 data-aos="fade-up" class="font-bold">Let your business partners sign up and buy for their own wholesale prices. They will easily download their documents and review their offers.</h3>
      </div>
      <div class="info">
        <div class="box left">
          <img alt="Vývoj B2B/B2C portálů" src="/images/app_kinds/b2b-b2c-portaly_1.jpg" data-aos="fade-right" />
          <div data-aos="fade-left">
            <h3>How will you utilize B2B/B2C web and mobile portals?</h3>
            <ul>
              <li>Web and mobile environment fully integrated with the internal information system.</li>
              <li>Possibility of wholesale / retail purchases with taking the margin into consideration.</li>
              <li>Reservation of services.</li>
              <li>Overview of store and goods delivery state.</li>
              <li>Mediation of individual business offers.</li>
              <li>Overview of orders, invoices and other documents.</li>
              <li>Documents to download.</li>
              <li>POS and promotional items order.</li>
              <li>Registration for participation in events.</li>
              <li>Creation of retail offers with stock supply reservations.</li>
              <li>And much more.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Contact us", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
