---
title: Vývoj B2B/B2C portálů | iQuest s.r.o.
subtitle: Vytvořte pro své zákazníky, partnery či dealery nové a moderní prostředí webového a mobilního portálu, kde najdou všechny potřebné informace.
---
<div class="what-we-do">
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">B2B/B2C portály</h1>
  </div>
  <div class="info-container">
    <div class="info-container--skew-restore container">
      <div class="what-is m-b-10 text-center">
        <h2 data-aos="fade-up">Vytvořte pro své zákazníky, partnery či dealery nové a moderní prostředí webového a mobilního portálu, kde najdou všechny potřebné informace.</h2>
        <h3 data-aos="fade-up">Nechte své obchodní partnery, ať se přihlásí a nakupují za vlastní velkoobchodní ceny. Snadno si stáhnou své doklady a prohlédnou nabídky.</h3>
      </div>
      <div class="info">
        <div class="box left">
          <img alt="Vývoj B2B/B2C portálů" src="/images/app_kinds/b2b-b2c-portaly_1.jpg" data-aos="fade-right" />
          <div data-aos="fade-left">
            <h3>Jak B2B/B2C webové a mobilní portály využijete?</h3>
            <ul>
              <li>Webové a mobilní prostředí plně integrované na vnitřní informační systém.</li>
              <li>Možnost velkoobchodního/maloobchodního nákupu se zohledněním marže.</li>
              <li>Rezervace služeb.</li>
              <li>Přehled o stavu skladu a dodávkách zboží.</li>
              <li>Zprostředkování individuálních obchodních nabídek.</li>
              <li>Přehled objednávek, faktur a dalších dokladů.</li>
              <li>Dokumenty ke stažení.</li>
              <li>Objednání POS, reklamních předmětů.</li>
              <li>Registrace k účasti na akcích.</li>
              <li>Tvorba maloobchodních nabídek s rezervací skladových zásob.</li>
              <li>A mnoho dalšího.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Kontaktujte nás", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
