---
title: CRM systems and systems for sales representatives development | iQuest s.r.o.
subtitle: Are you demanding and want something more? Would you like to manage all the business processes properly according to your needs? We highly recommend a customized system. And that is what we are experts in.
---
<div class="what-we-do">
  <div class="what-we-do__header">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <div class="header-text">
      <h1 data-aos="fade-up">CRM systems and systems<br>for sales representatives</h1>
    </div>
    <div class='flex container-i-want-to-know-more items-center'>
      <a href="#info-container" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">I want to know more</span></a>
    </div>
  </div>
  <div class="info-container" id="info-container">
    <div class="info-container__content container">
      <div class="info m-b-8">
        <div class="box left">
          <img alt="CRM systémy a systémy pro obchodní reprezentanty" src="/images/app_kinds/crm_1.jpg" data-aos="fade-right" />
          <div data-aos="fade-left">
            <h3>CRM systems and systems for sales representatives.</h3>
            <p>Standard systems, besides communication about orders, usually offer additional information storage options about clients and business cases.<br /><br />Are you demanding and want something more? Would you like to manage all the business processes properly according to your needs? We highly recommend a customized system. And that is what we are experts in.<br /><br />We map processes, design system architecture, program, communicate and integrate.</p>
          </div>
        </div>
      </div>
    
      <div class="info">
        <div class="box right">
          <img alt="Kdy se Vám hodí zakázkový CRM systém?" src="/images/app_kinds/crm_2.jpg" data-aos="fade-left" />
          <div data-aos="fade-right">
            <h3>When will you greatly use customized CRM system?</h3>
            <ul>
              <li>You didn't find a box product that would suit you. Or you do not want any.</li>
              <li>You want to develop your specific business processes.</li>
              <li>You would like to transform your growth dynamics into your own system.</li>
              <li>You desire to perfectly manage your sales representatives.</li>
              <li>You see the need of extensive integration with other systems.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Contact us", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <div class="bg--gray-skew"></div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'icons' %>
<%= partial 'footer' %>

<script type="text/javascript">
  document.querySelector('.back-fixed').addEventListener('mouseenter', function() {
    this.classList.add('animated', 'pulse');
  })
  document.querySelector('.back-fixed').addEventListener('mouseleave', function() {
    this.classList.remove('animated', 'pulse');
 })
</script>
