---
title: Vývoj CRM systémů a systémů pro obchodní reprezentanty | iQuest s.r.o.
subtitle: Jste nároční a chcete ještě něco víc? Rádi byste kvalitně řídili veškeré obchodní procesy přesně podle svých potřeb? Vřele doporučujeme systém na míru. A na to jsme odborníci my. Mapujeme procesy, navrhujeme architekturu systému, programujeme, komunikujeme, integrujeme.
---
<div class="what-we-do">
  <div class="what-we-do__header">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <div class="header-text">
      <h1 data-aos="fade-up">CRM systémy a systémy<br> pro obchodní reprezentanty</h1>
    </div>
    <div class='flex container-i-want-to-know-more items-center'>
      <a href="#info-container" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">Chci vědět více</span></a>
    </div>
  </div>

  <div class="info-container" id="info-container">
    <div class="info-container__content container">
      <div class="info m-b-8">
        <div class="box left">
          <img alt="CRM systémy a systémy pro obchodní reprezentanty" src="/images/app_kinds/crm_1.jpg" data-aos="fade-right" />
          <div data-aos="fade-left">
            <h3>CRM systémy a systémy pro obchodní reprezentanty.</h3>
            <p>Standardní systémy kromě komunikace na zakázkách většinou nabízejí další možnosti ukládání informací o klientech a obchodních případech.<br /><br />Jste nároční a chcete ještě něco víc? Rádi byste kvalitně řídili veškeré obchodní procesy přesně podle svých potřeb? Vřele doporučujeme systém na míru. A na to jsme odborníci my.<br /><br />Mapujeme procesy, navrhujeme architekturu systému, programujeme, komunikujeme, integrujeme.</p>
          </div>
        </div>
      </div>
    
      <div class="info">
        <div class="box right">
          <img alt="Kdy se Vám hodí zakázkový CRM systém?" src="/images/app_kinds/crm_2.jpg" data-aos="fade-left" />
          <div data-aos="fade-right">
            <h3>Kdy skvěle využijete zakázkový CRM systém?</h3>
            <ul>
              <li>Nenašli jste krabicový produkt, který by vám vyhovoval. Nebo jej ani nechcete.</li>
              <li>Chcete rozvíjet své specifické obchodní procesy.</li>
              <li>Rádi byste přenesli dynamiku svého růstu i do vlastního systému.</li>
              <li>Toužíte dokonale řídit své obchodní reprezentanty.</li>
              <li>Vidíte potřebu rozsáhlé integrace s jinými systémy.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Kontaktujte nás", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <div class="bg--gray-skew"></div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })
  
  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
