---
title: Database development | iQuest s.r.o.
subtitle: Leave us to design optimal data structures and database infrastructure. We will exhibit a secure web and mobile application, we will be glad to take care of your data.
---
<div class="what-we-do">
  <header></header>
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">Databases</h1>
  </div>

  <div class="what-is">
    <h3 data-aos="fade-up">For those who keep a lot of data and want them to be available from anywhere.</h3>
    <p data-aos="fade-up">We build specialized databases available on web or mobile. Everything with security, quick search and filtering. We interconnect the related data.</p>
  </div>

  <div class="info">
    <div class="box left">
      <img alt="Vývoj databází" src="/images/app_kinds/databases_1.jpg" data-aos="fade-right" />
      <div class="offset" data-aos="fade-left">
        <p><b>What is good to convert to the internet?</b></p>
        <ul>
          <li>Client database.</li>
          <li>Employee database (HR).</li>
          <li>Business case database.</li>
          <li>Orders database.</li>
          <li>Database of contracts and other documents.</li>
          <li>Product catalog with extensive search capabilities.</li>
          <li>All other possible databases you want to have available through the internet from anywhere in the world.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="what-is" data-aos="fade-up">
    <h3>We will design data structures and database infrastructure. We will exhibit a secure web and mobile application, we will be glad to take care of your data.</h3>
    <p><a href="/kontakt">Ask for ideal solution for you.</a></p>
    <br />
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'icons' %>
<%= partial 'footer' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.we-are-the-champions').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      dots: true
    });
  });

  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
