---
title: Vývoj ERP systémů | iQuest s.r.o.
subtitle: Poptejte ERP systém, máme zkušenosti se složitými a rozsáhlými systémy. ERP je efektivní systém na řízení velké organizace.
---
<div class="what-we-do">
  <div class="what-we-do__header">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <div class="header-text">
      <h1 class="p-t-1" data-aos="fade-up">ERP systémy</h1>
    </div>
    <div class='flex container-i-want-to-know-more items-center'>
      <a href="#info-container" class="scroll-link i-want-to-know-more m-t-10" aria-labelledby="article-content-link-text"><span id="article-content-link-text">Chci vědět více</span></a>
    </div>
  </div>
  <div class="info-container" id="info-container">
    <div class="info-container__content container">
      <div class="what-is m-b-10">
        <h3 data-aos="fade-up" class="text-center">ERP systém (Enterprise Resource Planning) je podnikový informační systém pro automatizaci plánování a účetnictví, kontrolu a analýzu všech klíčových podnikových procesů a řešení obchodních problémů v rámci celé organizace.</h3>
      </div>
      <div class="info">
        <div class="box left v-center">
          <img alt="ERP systémy na míru" src="/images/app_kinds/erp.jpg" data-aos="fade-right" />
          <div data-aos="fade-left">
            <h3>Jak Vám ERP systém pomůže?</h3>
            <ul>
              <li>Automatizace byznys procesů</li>
              <li>Standardizace výrobních procesů</li>
              <li>Zlepšení kvality plánování</li>
              <li>Sjednocení finančních dat</li>
              <li>Standardizace dat v personalistice</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Kontaktujte nás", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <div class="bg--gray-skew"></div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
