---
title: Facebook applications development | iQuest s.r.o.
subtitle: Take advantage of the social network for your business. We will create a Facebook app that will attract customers who wouldn't find you otherwise.

---
<div class="what-we-do">
  <header></header>
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">Facebook applications</h1>
  </div>

  <div class="info">
    <div class="box right">
      <img alt="Facebook aplikace" src="/images/app_kinds/facebook_applications_1.jpg" data-aos="fade-left" />
      <div class="offset" data-aos="fade-right">
        <p><b>Do you also constantly see people with smartphones in hands? Someone always checking Facebook?</b></p>
        <p>Take advantage of it for your business! Communicate with people directly on this social network. How? Using application integrated directly into Facebook. Everything is easier then. Registration, sharing your content or creation of interesting events. Propagate virally.</p>
      </div>
    </div>
  </div>

  <div class="what-is">
    <h3 data-aos="fade-up">For whom are Facebook applications suitable?</h3>
    <p data-aos="fade-up">Practically for everyone who want to engage people in the world's largest social network.</p>
    <p data-aos="fade-up"><a href="/kontakt">We will be glad to suggest how your facebook apps will improve your business.</a></p>
    <br />
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'icons' %>
<%= partial 'footer' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.we-are-the-champions').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      dots: true
    });
  });

  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
