---
title: Information portals development | iQuest s.r.o.
subtitle: Information provided at the right time to the right person can change your business. We create extensive information web and mobile portals.
---
<div class="what-we-do">
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">Information portals</h1>
  </div>
  <div class="info-container">
    <div class="info-container--skew-restore container">
      <div class="what-is m-b-10">
        <h2 data-aos="fade-up" class="text-center">They are perfect solutions when you want to present extensive texts or specific information. It is suitable for content that you offer to customers for free as well as for paid content.</h2>
      </div>
      <div class="info">
        <div class="box right">
          <img alt="Informační portály" src="/images/app_kinds/information_portals_1.jpg" data-aos="fade-left" />
          <div data-aos="fade-right">
            <h3>You will definitely search for customized solution in these cases:</h3>
            <ul>
              <li>You are not satisfied with average standard editorial systems (CMS).</li>
              <li>You need to publish extensive data and preferably with comprehensive search capabilities.</li>
              <li>You provide attractive paid content.</li>
              <li>Your portal requires complicated navigation.</li>
              <li>You will appreciate the quick search in the content.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Contact us", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
