---
title: Intranets development | iQuest s.r.o.
subtitle: Do you want to streamline internal business processes and control them? Intranets are the best solution for you. We will help to simplify the work for your employees.
---
<div class="what-we-do">
  <div class="what-we-do__header">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <div class="header-text">
      <h1 data-aos="fade-up">Intranets</h1>
    </div>
    <div class='flex container-i-want-to-know-more items-center'>
      <a href="#info-container" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">I want to know more</span></a>
    </div>
  </div>
  <div class="info-container" id="info-container">
    <div class="info-container__content container">
      <div class="what-is m-b-10 p-b-10">
        <h2 data-aos="fade-up">Intranets are the best solution for bigger or smaller companies who want to streamline and control internal business processes.</h2>
      </div>
      <div class="info">
        <div class="box left">
          <img alt="vývoj intranetů" src="/images/app_kinds/intranet.jpg" data-aos="fade-right" />
          <div data-aos="fade-left">
            <h3>Why use an intranet for your business?</h3>
            <ul>
              <li>Easy access to data for employees.</li>
              <li>Fast spreading of information within the employees network.</li>
              <li>Communication options in the internal network: chat, email, and the like.</li>
              <li>Facilitates teamwork, authorized users have access to needed documents.</li>
              <li>Multiplatform options: works in different browsers and on different operating systems.</li>
              <li>It is affordable</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Contact us", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <div class="bg--gray-skew"></div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  document.querySelector('.back-fixed').addEventListener('mouseenter', function() {
    this.classList.add('animated', 'pulse');
  })
  document.querySelector('.back-fixed').addEventListener('mouseleave', function() {
    this.classList.remove('animated', 'pulse');
 })
</script>
