---
title: Vývoj intranetů | iQuest s.r.o.
subtitle: Chcete zefektivnit vnitrofiremní procesy a mít je pod kontrolou? Intranety jsou nejlepším řešením pro Vaší společnost. Pomůžeme zjednodušit práci Vašim zaměstnancům.
---
<div class="what-we-do">
  <header></header>
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">Intranety</h1>
  </div>

  <div class="what-is">
    <h3 data-aos="fade-up">Intranety jsou nejlepším řešením pro větší či menší společnosti, které chtějí zefektivnit vnitrofiremní procesy a mít je pod kontrolou.</h3>
  </div>

  <div class="info">
    <div class="box left">
      <img alt="vývoj intranetů" src="/images/app_kinds/intranet.jpg" data-aos="fade-right" />
      <div class="offset" data-aos="fade-left">
        <p><b>Proč intranet pro Vaše podnikaní?</b></p>
        <ul>
          <li>Snadný přístup zaměstnanců k datům</li>
          <li>Rychlé šíření informací uvnitř sítě pro zaměstnance</li>
          <li>Možnosti komunikace v interní síti: chat, email, apod.</li>
          <li>Usnadňuje týmovou spolupráci, oprávnění uživatelé mají přístup k potřebným dokumentům</li>
          <li>Multiplatformní možnosti: funguje v různých prohlížečích a v různých operačních systémech.</li>
          <li>Je cenově dostupný</li>
        </ul>
        <p><a href="/kontakt">Pomůžeme zefektivnit a zjednodušit práci Vašim zaměstnancům.</a></p>
      </div>
    </div>
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'icons' %>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
