---
title: Vývoj komunikačních aplikací | iQuest s.r.o.
subtitle: Komunikujete se svými pracovníky, zákazníky, dodavateli či partnery?Rádi pro vás vymyslíme, navrhneme a vytvoříme optimální softwarové řešení.
---
<div class="what-we-do">
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">Komunikační aplikace</h1>
  </div>
  <div class="info-container">
    <div class="info-container--skew-restore container">
      <div class="what-is m-b-10 p-b-10 text-center">
        <h2 data-aos="fade-up">Komunikujete se svými pracovníky, zákazníky, dodavateli či partnery. Chcete k tomu využít webové a mobilní technologie? Rádi byste veškerou komunikaci zpřehlednili a také uchovali?</h2>
        <h3 data-aos="fade-up" class='font-bold'>Rádi pro vás vymyslíme, navrhneme a vytvoříme optimální softwarové řešení.</h3>
      </div>
      <div class="info">
        <div class="box right">
          <img alt="komunikační aplikace na míru" src="/images/app_kinds/communication_applications_1.jpg" data-aos="fade-left" />
          <div data-aos="fade-right">
            <h3>Kdy je skvělá aplikace na míru?</h3>
            <ul>
              <li>Vaši lidé jsou často na cestách a potřebují mít informace neustále k dispozici.</li>
              <li>Nemáte pořádek v interní komunikaci.</li>
              <li>Rádi byste zlepšili komunikaci se zákazníky.</li>
              <li>Chcete zpřehlednit tok informací na projektech.</li>
              <li>Vaším cílem je vytěžit maximum z nejnovějších komunikačních technologií.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Kontaktujte nás", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
