---
title: Web and mobile applications development for people organization | iQuest s.r.o.
subtitle: Organize staff using internet technologies. Planning work in the office and in the field, clear assignment and task control, field employees control by GPS

---
<div class="what-we-do">
  <header></header>
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">People organization</h1>
  </div>

  <div class="what-is">
    <h3 data-aos="fade-up">Organizing staff using internet technologies is a trend today. It stopped to be a competitive advantage and became the necessity.</h3>
    <p data-aos="fade-up">We will create customized system for you in which responsible assigning of work will be a piece of cake.</p>
  </div>

  <div class="info">
    <div class="box right">
      <img alt="Organizace lidí" src="/images/app_kinds/people_organization_1.jpg" data-aos="fade-left" />
      <div class="offset" data-aos="fade-right">
        <p><b>When will you utilize a customized system?</b></p>
        <ul>
          <li>You have staff in field and you need to organize them.</li>
          <li>For assigning tasks ordinary system is not enough for you.</li>
          <li>You feel the need of work division automatization.</li>
          <li>You require exact assigning and sorting of work.</li>
          <li>You want to communicate using smartphones.</li>
          <li>Your goal is sophisticated reporting about your team’s activities.</li>
        </ul>
        <p><a href="/kontakt">Now we are here for you.</a></p>
      </div>
    </div>
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'icons' %>
<%= partial 'footer' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.we-are-the-champions').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      dots: true
    });
  });

  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
