---
title: Vývoj náročných webových a mobilních aplikací | iQuest s.r.o.
subtitle: Zvolte nejlepšího dodavatele software na míru. Tvorba podnikových mobilních aplikací a firemních informačních systémů na míru, vývoj webových aplikací.
---
<div class="what-we-do">
  <div class="what-we-do__header">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <div class="header-text">
      <h1 data-aos="fade-up">Ostatní</h1>
    </div>
    <div class='flex container-i-want-to-know-more items-center'>
      <a href="#info-container" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">Chci vědět více</span></a>
    </div>
  </div>
  <div class="info-container" id="info-container">
    <div class="info-container__content container">
      <div class="what-is m-b-10 p-b-10">
        <h2 data-aos="fade-up" class="text-center">Již 17 let vyvíjíme různé aplikace pro startupy, střední a velké podniky. Od jednoduchých webových a mobilních aplikací po náročné vnitrofiremní systémy.</h2>
      </div>
      <div class="info m-b-10 p-b-10">
        <div class="box left">
          <img alt="Vývoj náročných webových a mobilních aplikací" src="/images/app_kinds/ostatni.jpg" data-aos="fade-right" />
          <div data-aos="fade-left">
            <h3>Než začneme cokoliv programovat, provádíme detailní procesní analýzu prostředí, tedy zejména podniku a jeho okolí. Jakmile poznáme firemní prostředí, navrhneme dokonalé řešení přesně pro Váš podnik. </h3>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="box right">
          <img alt="Kdy potřebujete řešení na míru?" src="/images/app_kinds/ostatni_reference.jpg" data-aos="fade-right" />
          <div data-aos="fade-right">
            <h3>Jaké webové aplikace jsme vytvořili?</h3>
            <h3>Za dobu naší existence jsme vytvořili velké množství webových aplikací. Příklady jsou zde: <a href="/reference">Více v referencích</a>.</h3>
            <ul>
              <li>Specializovaný CRM software pro management práce <b>obchodních reprezentantů</b> pro Green­Swan Pharmaceuticals.</li>
              <li>Dispečink a callcentrum <b>Modrý anděl</b>.</li>
              <li>Plně integrovaný <b>velkoobchodní nákupní systém</b> distributora náhradních dílů na automobily PARTSPOINT.</li>
              <li>Systém pro management práce <b>stovek merchandiserů</b> pro Space and Profit.</li>
              <li>Systém pro management <b>stovek zdravotních sester</b> při domácí zdravotní péči společnosti Procare.</li>
              <li>A mnoho dalších (<a href="/reference">reference</a>).</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Kontaktujte nás", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
