---
title: Vendor portals development | iQuest s.r.o.
subtitle: Where “box solutions” end, we begin. A perfect user experience ensures purchases maximization. Design, development, integration of tailored e-shop.
---
<div class="what-we-do">
  <div class="what-we-do__header">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <div class="header-text">
      <h1 data-aos="fade-up">Vendor portals</h1>
      <h2 data-aos="fade-up">Where “box solutions” end, we begin.</h2>
    </div>
    <div class='flex container-i-want-to-know-more items-center'>
      <a href="#info-container" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">I want to know more</span></a>
    </div>
  </div>

  <div class="info-container" id="info-container">
    <div class="info-container__content container">
      <div class="what-is">
        <h2 data-aos="fade-up" class="text-center m-b-10">For standard e-shops, which mostly don't excel, there are many solutions already. However, unlike them, those, who are serious about their business, won't get by without a customized solution.</h2>
      </div>
      <div class="info">
        <div class="box right">
          <img alt="vývoj prodejních portálů" src="/images/app_kinds/sale_portals_e_shop.jpg" data-aos="fade-left" />
          <div data-aos="fade-right">
            <h3>Custom e-shop solutions are ideal for you if:</h3>
            <ul>
              <li>You are a wholesaler and you use extensive data integration.</li>
              <li>Your desire and goal is to develop constantly.</li>
              <li>You sell non-standard goods or services.</li>
              <li>Your selling process is more complex.</li>
              <li>You offer special goods requiring advanced search or sorting.</li>
              <li>There are other reasons why a simple, standardized solution does not suit you.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Contact us", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <div class="bg--gray-skew"></div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
