---
title: Vývoj prodejních portálů | iQuest s.r.o.
subtitle: Nechte si vytvořit Prodejní portál na míru pro Vaše podnikání. Tam, kde krabicová řešení končí, my začínáme.
---
<div class="what-we-do">
  <div class="what-we-do__header">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <div class="header-text">
      <h1 class="p-t-1" data-aos="fade-up">Prodejní portály</h1>
      <h2 data-aos="fade-up">A tam, kde krabicová řešení končí, my začínáme.</h2>
    </div>
    <div class='flex container-i-want-to-know-more items-center m-t-10'>
      <a href="#info-container" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">Chci vědět více</span></a>
    </div>
  </div>

  <div class="info-container" id="info-container">
    <div class="info-container__content container">
      <div class="what-is">
        <h2 data-aos="fade-up" class="text-center m-b-10">Pro standardní e-shopy, které většinou ničím nevynikají, existuje mnoho již hotových řešení. Na rozdíl od nich se však ti, kteří svůj business myslí vážně, bez zakázkového řešení velmi brzy neobejdou.</h2>
      </div>
      <div class="info">
        <div class="box right">
          <img alt="vývoj prodejních portálů" src="/images/app_kinds/sale_portals_e_shop.jpg" data-aos="fade-left" />
          <div data-aos="fade-right">
            <h3>Zakázkové řešení e-shopu je pro vás ideální, jestliže:</h3>
            <ul>
              <li>Jste velkoobchod a využíváte rozsáhlé datové integrace.</li>
              <li>Vaší touhou a cílem je se neustále rozvíjet.</li>
              <li>Prodáváte nestandardní zboží či služby.</li>
              <li>Váš prodejní proces je složitější.</li>
              <li>Nabízíte speciální zboží vyžadující pokročilé vyhledávání či třídění.</li>
              <li>Existují jiné důvody, proč vám nevyhovuje jednoduché standardizované řešení.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Kontaktujte nás", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <div class="bg--gray-skew"></div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
