---
title: Vývoj rezervačních systémů | iQuest s.r.o.
subtitle: Tvorbu mobilních a webových aplikací nechte na nás. Poradíme si se všemi typy rezervačních systémů. Soustřeďte se na to důležité a nespokojte se s “krabicovým řešením”.
---
<div class="what-we-do">
  <div class="what-we-do__header">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <div class="header-text">
      <h1 class="p-t-1" data-aos="fade-up">Rezervační systémy</h1>
      <h2 data-aos="fade-up">Tvorbu mobilních a webových aplikací nechte na nás.<br />Soustřeďte se na to důležité a nespokojte se s “krabicovým řešením“.</h2>
    </div>
    <div class='flex container-i-want-to-know-more items-center m-t-10'>
      <a href="#info-container" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">Chci vědět více</span></a>
    </div>
  </div>

  <div class="info-container" id="info-container">
    <div class="info-container__content container">
      <div class="info">
        <div class="box left">
      <img alt="zakázkový rezervační systém" src="/images/app_kinds/reservation_systems_1.jpg" data-aos="fade-right" />
      <div data-aos="fade-left">
        <h3>Kdy si nechat vytvořit zakázkový rezervační systém?</h3>
        <ul>
          <li>Poskytujete kvalitní služby, které si zákazníci si rezervují.</li>
          <li>Jste skvělý hotel či jiné zařízení a nevyhovují vám krabicové systémy.</li>
          <li>Máte více zaměstnanců, jejichž čas potřebujete efektivně organizovat.</li>
          <li>Chcete zajistit různé zdroje, jako zařízení, prostory apod.</li>
          <li>Potřebujete rezervovat místa v dopravních prostředcích.</li>
        </ul>
      </div>
        </div>
      </div>
        <h2 class='m-b-10 m-t-10 text-center'>Poradíme si se všemi typy rezervačních systémů. Zmapujeme procesy, uživatele a datové struktury a rádi navrhneme optimální řešení.</h2>
      <div class="info">
      <div class="box right">
      <img alt="Rezervační systémy" src="/images/app_kinds/reservation_systems_2.jpg" data-aos="fade-left" />
      <div data-aos="fade-right">
        <h3>Proč si od nás nechat vypracovat rezervační systém na míru?</h3>
        <ul>
          <li>Zcela jej optimalizujeme pro vaše potřeby.</li>
          <li>Můžete nabízet služby přesně tak, jak potřebujete, a nemusíte se přizpůsobovávat nepružnému systému.</li>
          <li>Rezervační proces bude otevřený dalšímu rozvoji a zlepšování.</li>
          <li>Můžete rozšiřovat své služby, přidávat bonusy apod.</li>
          <li>Rádi Vás napojíme na jakékoli platební brány.</li>
          <li>Rezervační systém snadno provážeme s vaším účetnictvím, CRM či jakýkoliv jiným integrovatelným systémem.</li>
        </ul>
      </div>
      </div>
      </div>
      <div class="text-center button-row"><%= link_to "Kontaktujte nás", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <div class="bg--gray-skew"></div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
