---
title: Vývoj softwaru pro správu zakázek | iQuest s.r.o.
subtitle: Chcete mít všechny potřebné informace k zakázkám přístupné přes internet a mobilní aplikaci? Nechte nás navrhnout optimální řešení pro správu zakázek.
---
<div class="what-we-do">
  <div class="what-we-do__header">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <div class="header-text">
      <h1 class="p-t-1" data-aos="fade-up">Správa zakázek</h1>
    </div>
    <div class='flex container-i-want-to-know-more items-center m-t-10'>
      <a href="#info-container" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">Chci vědět více</span></a>
    </div>
  </div>
  <div class="info-container" id="info-container">
    <div class="info-container__content container">
      <div class="what-is m-b-10 p-b-10 text-center">
        <h2 data-aos="fade-up">Jednoduše pořádek. V poptávkách, nabídkách, objednávkách, dodacích a předávacích protokolech. A navíc, chcete mít všechny potřebné informace k zakázkám přístupné přes internet a mobilní aplikaci?</h2>
        <h3 data-aos="fade-up" class="font-bold">Nechte nás zanalyzovat vaše potřeby, procesy a data. Navrhneme optimální řešení.</h3>
      </div>
      <div class="info">
        <div class="box left v-center">
          <img alt="software pro správu zakázek" src="/images/app_kinds/order_management_1.jpg" data-aos="fade-right" />
          <div data-aos="fade-left">
            <h3>Kdy potřebujete správu na míru?</h3>
            <ul>
              <li>Chcete sdílet informace přes zabezpečený web a mobil.</li>
              <li>Potřebujete svá data zpřístupnit lidem v terénu.</li>
              <li>Máte více poboček a chcete sdílet data o zakázkách.</li>
              <li>Excel je stále vaším hlavním nástrojem pro evidenci dat a už to nestačí.</li>
              <li>Rádi byste svěřili uspořádání svých dat profesionálním analytikům.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Kontaktujte nás", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <div class="bg--gray-skew"></div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  document.querySelector('.back-fixed').addEventListener('mouseenter', function() {
    this.classList.add('animated', 'pulse');
  })
  document.querySelector('.back-fixed').addEventListener('mouseleave', function() {
    this.classList.remove('animated', 'pulse');
 })
</script>
