---
title: Web dispatching development | iQuest s.r.o.
subtitle: You won't find much dispatching box systems. Every business is specific and needs its own. We have already developed several solutions of web and mobile dispatching in different business areas.
---
<div class="what-we-do">
  <div class="what-we-do__header">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <div class="header-text">
      <h1 data-aos="fade-up">Web dispatching</h1>
    </div>
    <div class='flex container-i-want-to-know-more items-center'>
      <a href="#info-container" class="scroll-link i-want-to-know-more" aria-labelledby="article-content-link-text"><span id="article-content-link-text">I want to know more</span></a>
    </div>
  </div>
  <div class="info-container" id="info-container">
    <div class="info-container__content container">
      <div class="what-is m-b-10">
        <h2 data-aos="fade-up" class="text-center">You won't find much dispatching box systems. Every business is specific and needs its own. We have already developed several sophisticated dispatchers.</h2>
      </div>
      <div class="info">
        <div class="box right v-center">
          <img alt="Webové dispečinky" src="/images/app_kinds/web_dispatching_1.jpg" data-aos="fade-left" />
          <div data-aos="fade-right">
            <h3>You will appreciate customized dispatching, when:</h3>
            <ul>
              <li>You need to assign orders to employees.</li>
              <li>It's necessary to manage operation of means of transport well.</li>
              <li>You require automatization of assigning your resources to orders.</li>
              <li>Thanks to growth of the business, current system is not enough for you.</li>
              <li>You long for simplicity, speed and clarity.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Contact us", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <div class="bg--gray-skew"></div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
