---
title: Vývoj webových dispečinků | iQuest s.r.o.
subtitle: Krabicových systémů pro dispečinky příliš nenajdete. Každý business je specifický a potřebuje své. My jsme již několik propracovných dispečinků vytvořili.
---
<div class="what-we-do">
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">Webové dispečinky</h1>
  </div>

  <div class="info-container">
    <div class="info-container--skew-restore container">
      <div class="what-is m-b-10">
        <h2 data-aos="fade-up" class="text-center">Krabicových systémů pro dispečinky příliš nenajdete. Každý business je specifický a potřebuje své. My jsme již několik propracovaných dispečinků vytvořili.</h2>
      </div>
      <div class="info">
        <div class="box right v-center">
          <img alt="Webové dispečinky" src="/images/app_kinds/web_dispatching_1.jpg" data-aos="fade-left" />
          <div class="offset" data-aos="fade-right">
            <h3>Dispečink na míru oceníte, když:</h3>
            <ul>
              <li>Potřebujete přiřazovat pracovníky na zakázky.</li>
              <li>Je třeba dobře řídit provoz dopravních prostředků.</li>
              <li>Vyžadujete automatizaci přiřazování svých zdrojů na zakázky.</li>
              <li>Už vám díky růstu nestačí stávající systém.</li>
              <li>Toužíte po jednoduchosti, rychlosti, přehlednosti.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center button-row"><%= link_to "Kontaktujte nás", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>

<script type="text/javascript">
  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})
</script>
