<nav class="navigation" data-aos="fade-down">
  <%# <div class="nav-back"></div> %>
  <picture>
    <source loading="lazy" srcset="/images/logo_hand.webp" type="image/webp">
    <source loading="lazy" srcset="/images/logo_hand.png" type="image/png"> 
    <img loading="lazy" id="logo" alt="Logo hand" src="/images/logo_hand.png" />
  </picture>
  <a id="logo_box" href="/" aria-label="úvodní stránka iquest.cz"></a>
  <ul class="navbar">
    <li>
      <% link_to t('urls.home'), :class => 'blue-dark small', id: 'home', 'aria-label': "úvodní stránka iquest.cz" do %>
        <span class="text"><i class="fa fa-lg fa-home"></i></span>
      <% end  %>
    </li>
    <li>
      <% link_to t('urls.iquest_way'), :class => 'green-dark big', 'aria-label': "přejít na stránku iquest way"  do %>
        <span class="text nowrap"><%= t('navigation.iquest_way') %></span>
      <% end  %>
    </li>
    <li>
      <% link_to t('urls.why_iquest'), :class => 'green-dark big', 'aria-label': "přejít na stránku proč iquest" do %>
        <span class="text nowrap"><%= t('navigation.why_iquest') %></span>
      <% end  %>
    </li>
    <li>
      <% link_to t('urls.reference'), :id => 'nav_reference', :class => 'green-dark big', 'aria-label': "přejít na stránku reference" do %>
        <span class="text nowrap"><%= t('navigation.reference') %></span>
      <% end  %>
    </li>
    <li>
        <% link_to t('urls.blog'), :class => 'green-dark big', 'aria-label': "přejít na stránku iquest blogu" do %>
            <span class="text nowrap"><%= t('menu.blog') %></span>
        <% end %>
    </li>
    <li>
      <%= partial 'contact_us_bottom' %>
    </li>
    <li>
      <a id="menu_open" class="blue-dark small" href="#" aria-label="otevřit menu">
        <span class="text"><i class="fa fa-lg fa-bars"></i></span>
      </a>
    </li>
  </ul>
</nav>
<script>
  $(function () {
    $('.navigation').data('size', 'big');
  });

  $(window).scroll(function () {
    if (!window.matchMedia('(max-width: 768px)').matches) {
      if ($(document).scrollTop() > 50) {
        if ($('.navigation').data('size') == 'big') {
          $('.navigation').data('size', 'small');

          $('#logo').stop().animate({
            height: '65px'
          }, 600);

          $('a.big > .text').stop().animate({
            top: '60%'
          }, 600);
          $('a.contact-bubble > .text').stop().animate({
            top: '60%'
          }, 600);

          $('a.small').stop().animate({
            bottom: '-0.5vw'
          }, 600);

          $('#home').stop().animate({
            bottom: '1.5vw'
          }, 600);
          $('#home .text').stop().animate({
            top: '55%'
          }, 600);
          $('.navbar').stop().animate({
            top: '-65px'
          }, 600);
        }
      } else {
        if ($('.navigation').data('size') == 'small') {
          $('.navigation').data('size', 'big');

          $('#logo').stop().animate({
            height: '130px'
          }, 600);

          $('a.big > .text').stop().animate({
            top: '50%'
          }, 600);
          $('a.contact-bubble > .text').stop().animate({
            top: '50%'
          }, 600);

          $('a.small').stop().animate({
            bottom: '2vw'
          }, 600);

          $('#home').stop().animate({
            bottom: '2vw'
          }, 600);
          $('#home .text').stop().animate({
            top: '50%'
          }, 600);
          $('.navbar').stop().animate({
            top: '50px'
          }, 600);
        }
      }
    } else {
      if ($(document).scrollTop() > 30) {
        if ($('.navigation').data('size') == 'big') {
          $('.navigation').data('size', 'small');

          $('#logo').stop().animate({
            height: '65px'
          }, 300);
          $('.navigation').stop().animate({
            height: '65px'
          }, 1500);
        }
      } else {
        if ($('.navigation').data('size') == 'small') {
          $('.navigation').data('size', 'big');

          $('#logo').stop().animate({
            height: '90px'
          }, 300);
          $('.navigation').stop().animate({
            height: '80px'
          }, 1);
        }
      }
    }
  });
</script>
