<nav class="navigation" data-aos="fade-down">
  <%# <div class="nav-back"></div> %>
  <picture>
    <source loading="lazy" srcset="/images/logo_hand.webp" media="(min-width: 861px)" type="image/webp" width="1900" height="130">
    <source loading="lazy" srcset="/images/logo_hand.webp" media="(max-width: 860px)" type="image/webp" width="1368" height="120">
    <source loading="lazy" srcset="/images/logo_hand.png" media="(max-width: 860px)" type="image/png" width="1368" height="120"> 
    <img loading="lazy" id="logo" alt="Logo hand" src="/images/logo_hand.png" width="1900" height="130" />
  </picture>
  <a id="logo_box" href="/" aria-label="úvodní stránka iquest.cz"></a>
  <ul class="navbar">
    <li>
      <% link_to t('urls.home'), :class => 'blue-dark small', id: 'home', 'aria-label': "úvodní stránka iquest.cz" do %>
        <span class="text"><i class="fa fa-lg fa-home"></i></span>
      <% end  %>
    </li>
    <li>
      <% link_to t('urls.iquest_way'), :class => 'green-dark big', 'aria-label': "přejít na stránku iquest way"  do %>
        <span class="text nowrap"><%= t('navigation.iquest_way') %></span>
      <% end  %>
    </li>
    <li>
      <% link_to t('urls.why_iquest'), :class => 'green-dark big', 'aria-label': "přejít na stránku proč iquest" do %>
        <span class="text nowrap"><%= t('navigation.why_iquest') %></span>
      <% end  %>
    </li>
    <li>
      <% link_to t('urls.reference'), :id => 'nav_reference', :class => 'green-dark big', 'aria-label': "přejít na stránku reference" do %>
        <span class="text nowrap"><%= t('navigation.reference') %></span>
      <% end  %>
    </li>
    <li>
        <% link_to t('urls.blog'), :class => 'green-dark big', 'aria-label': "přejít na stránku iquest blogu" do %>
            <span class="text nowrap"><%= t('menu.blog') %></span>
        <% end %>
    </li>
    <li>
      <%= partial 'contact_us_bottom' %>
    </li>
    <li>
      <a id="menu_open" class="blue-dark small" href="#" aria-label="otevřit menu">
        <span class="text"><i class="fa fa-lg fa-bars"></i></span>
      </a>
    </li>
  </ul>
</nav>
<script>
  const navigationEl = document.querySelector(".navigation");
  const logoEl = document.getElementById('logo');
  const navbarElement = document.querySelector('.navbar');

  navigationEl.dataset.size = 'big';

  window.addEventListener('scroll', function(){
    if (!window.matchMedia('(max-width: 768px)').matches) {
      console.log('big monitor JS')
      if(window.scrollY > 50) {
        if (navigationEl.dataset.size === 'big') {
          navigationEl.dataset.size = 'small';
          logoEl.classList.add("shrink");
          navbarElement.classList.add('shrink');
        }
      }
      else {
        if (navigationEl.dataset.size === 'small') {
          navigationEl.dataset.size = 'big';
          logoEl.classList.remove("shrink");
          navbarElement.classList.remove('shrink');
        }
      }
    } else {
      if(window.scrollY > 30) { 
        if(navigationEl.dataset.size === 'big') {
          navigationEl.dataset.size = 'small';
          logoEl.classList.add("shrink");
        }
      } else {
        if (navigationEl.dataset.size === 'small') {
          navigationEl.dataset.size = 'big';
          logoEl.classList.remove("shrink");
        }
      }
    }
  });
</script>
