---
title: iQuest s.r.o. - Tvorba webových systémů a mobilních aplikací
subtitle: Již přes 17 let vyvíjíme webové aplikace, informační systémy a mobilní aplikace. Dodáme kvalitu včas! Kontaktujte nás 777 314 768
redirect_url: '/'
---
<div id="opening">
	<address class="text-center" data-aos="fade-down">
		<span class="nowrap">
			<a href="tel:+420777314768" class="c-phone"><i class="fa fa-phone"></i> 777 314 768</a>,
		</span>
		<span class="nowrap">
			<i class="fa fa-envelope"></i> <a href="mailto:vyvojari@iquest.cz">vyvojari@iquest.cz</a>
		</span>
	</address>
	<div class="circles">
    <div class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="bg-point4 circle index1 orange" data-aos="zoom-in"></div>
				<div class="bg-point5 circle index2 orange" data-aos="zoom-in"></div>
				<div class="bg-point6 circle index3 orange" data-aos="zoom-in"></div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="bg-point1 circle index1 yellow" data-aos="zoom-in"></div>
				<div class="bg-point2 circle index2 yellow" data-aos="zoom-in"></div>
				<div class="bg-point3 circle index3 yellow" data-aos="zoom-in"></div>
      </div>
      <div class="parallax__layer parallax__layer--fore">
        <div class="bg-point7 circle index1 blue" data-aos="zoom-in"></div>
				<div class="bg-point8 circle index2 blue" data-aos="zoom-in"></div>
				<div class="bg-point9 circle index3 blue" data-aos="zoom-in"></div>
      </div>
      <div class="parallax__layer parallax__layer--deep">
        <div class="bg-point10 circle index1 green" data-aos="zoom-in"></div>
				<div class="bg-point11 circle index2 green" data-aos="zoom-in"></div>
				<div class="bg-point12 circle index3 green" data-aos="zoom-in"></div>
      </div>
    </div>
	</div>
	<div class="title inner-center">
		<h1 class="title1 text-center" data-aos="fade-up"><%= t('pages.main.title') %></h1>
		<h2 class="title2 text-center" data-aos="fade-up"><%= t('pages.main.sub_title') %></h2>
	</div>
	<div class="main-container">
		<svg viewBox="0 0 500 150" preserveAspectRatio="none" class="wavy-background">
			<path d="M-15.24,32.06 C190.74,95.22 264.10,-59.70 545.14,90.28 L500.00,150.00 L0.00,150.00 Z" style="stroke: none;"></path>
		</svg>
		<%= partial 'icons' %>
	</div>
	<%= partial 'kinds_of_products' %>
	<div class="bg--gray-skew"></div>

	<%= partial 'references' %>
	<div class="educational-content-container">
		<div class="educational-content">
			<div class="container">
				<div class="flex image-row">
					<% link_to t('urls.choosing_a_supplier'), class: "col1 col", :'data-aos' => 'fade-down' do %>
						<span></span>
					<% end %>
					<% link_to t('urls.design_a_system'), class: "col2 col", :'data-aos' => 'fade-up' do %>
						<span></span>
					<% end %> 
					<% link_to t('urls.software_development'), class: "col3 col", :'data-aos' => 'fade-down' do %>
						<span></span>
					<% end %> 
					<a data-aos="fade-up" href="https://www.vyvojari-software.cz" target="_blank" class="col col4">
						<span></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bg--gray-skew"></div>

	<%= partial 'our_technology' %>
	<div class="bg--white-skew"></div>
	<div class="kinds-of-contacts subpage-more-information">
		<video width="100%" height="100%" autoplay loop muted poster="/images/web_application_development_back.jpg">
			<source src="/videos/typing-lg.mp4" media="(min-width: 1280px)" type="video/mp4">
			<source src="/videos/typing-lg.webm" media="(min-width: 1280px)" type="video/webm">
			<source src="/videos/typing.mp4"  media="(max-width: 1279px)" type="video/mp4">
			<source src="/videos/typing.webm" media="(max-width: 1279px)" type="video/webm">
			  Váš prohlížeč nepodporuje značku videa.
		</video>
		<div class="container">
			<div class="row">
				<div class="col col1">
					<div class="cont" data-aos="fade-up">
						<form action="//formspree.io/vyvojari@iquest.cz" method="POST" id="contact_form_kozultace_zdarma" class="contact-form" novalidate>
							<input type="hidden" name="_next" value="https://www.iquest.cz/success" />
							<input type="text" name="_gotcha" style="display:none" />
							<div>
								<h4>Napište nám</h4>
								<span class="sub-title">vyvojari@iquest.cz</span>
							</div>
							<div>
								<div class="form-group">
									<input type="email" name="email" id="email" placeholder="email" required>
									<span class="error" aria-live="polite"></span>
								</div>
								<div class="form-group m-t-5">
									<textarea name="message" id="message" required>Dobrý den, &#010;rádi bychom poptali ...&#010;&#010;Tel.:&nbsp;</textarea>
									<span class="error" aria-live="polite"></span>
								</div>
							</div>
							<div class="p-t-6"><button type="submit" id='submit_<%= current_page.page_id.split('.')[0] %>'>ODESLAT</button></div>
						</form>
					</div>
				</div>
				<div class="col col2 address">
					<div class="cont" data-aos="fade-up">
						<h4>Navštivte nás</h4>
						<div>
							<span class="sub-title city">Praha:</span>
							<span class="sub-title first">Sněmovní 9<br> 118 00 Praha 1 - Malá Strana</span>
							<span class="sub-title city">Brno:</span>
							<span class="sub-title">Cejl 494/25<br>602 00 Brno</span>
						</div>
						<div class='flex justify-center'><a href="/kontakt" class="submit">ZOBRAZIT MAPU</a></div>
					</div>
				</div>
				<div class="col col3">
					<div class="cont" data-aos="fade-up">
						<form action="//formspree.io/vyvojari@iquest.cz" method="POST" id="contact_form_tel_kozultace_zdarma" class="contact-form" novalidate>
							<input type="hidden" name="_next" value="https://www.iquest.cz/success" />
							<input type="text" name="_gotcha" style="display:none" />
							<input type="text" name="tema" value="Zavolejte mě prosím." style="display:none" />
							<div>
								<h4>Zavolejte nám</h4>
								<span class="sub-title"><a href="tel:+420777314768" aria-label="zavolejte nám">+ 420 777 314 768</a></span>
								<a href="tel:+420777314768" class="call-us fa fa-phone" aria-label="zavolejte nám"></a>
							</div>
							<div class="sub-cont">
								<label for="phone">Zanechte kontakt, zavoláme Vám</label>
								<div class="form-group">
									<input type="text" name="phone" id='phone' value="+420 " pattern="/^[0-9\-_!,.:+=?\s)(]*$/" required />
									<span class="error" aria-live="polite"></span>
								</div>
								<button type="submit" id='submit_tel_<%= current_page.page_id.split('.')[0] %>'>ODESLAT</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= partial 'footer' %>

<script type="text/javascript">
	window.addEventListener('scroll', function(){
		document.querySelector('.circles').scrollTop = window.pageYOffset;
	});

	document.querySelectorAll('.reference .circle').forEach(function(circle) {
		circle.addEventListener('mouseenter', function() {
			circle.classList.add('animated');
			circle.classList.add('pulse'); 
		})
		circle.addEventListener('mouseleave', function() {
			circle.classList.remove('animated');
			circle.classList.remove('pulse'); 
		})
	}) 

	document.querySelectorAll('.info .box').forEach(function(box) {
		box.addEventListener('mouseenter', function() {
			box.querySelector("img").classList.add('animated');
			box.querySelector("img").classList.add('pulse'); 
		})
		box.addEventListener('mouseleave', function() {
			box.querySelector("img").classList.remove('animated');
			box.querySelector("img").classList.remove('pulse'); 
		})
	}) 
</script>
