---
title: iQuest s.r.o. - Tvorba webových systémů a mobilních aplikací
subtitle: Již přes 16 let vyvíjíme webové aplikace, informační systémy a mobilní aplikace. Dodáme kvalitu včas! Kontaktujte nás 777 314 768
redirect_url: '/'
---
<div id="opening">
	<address class="text-center" data-aos="fade-down">
		<span class="nowrap">
			<a href="tel:+420777314768" class="c-phone"><i class="fa fa-phone"></i> 777 314 768</a>,
		</span>
		<span class="nowrap">
			<i class="fa fa-envelope"></i> <a href="mailto:vyvojari@iquest.cz">vyvojari@iquest.cz</a>
		</span>
	</address>
	<div class="circles">
    <div class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="bg-point4 circle index1 orange" data-aos="zoom-in"></div>
				<div class="bg-point5 circle index2 orange" data-aos="zoom-in"></div>
				<div class="bg-point6 circle index3 orange" data-aos="zoom-in"></div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="bg-point1 circle index1 yellow" data-aos="zoom-in"></div>
				<div class="bg-point2 circle index2 yellow" data-aos="zoom-in"></div>
				<div class="bg-point3 circle index3 yellow" data-aos="zoom-in"></div>
      </div>
      <div class="parallax__layer parallax__layer--fore">
        <div class="bg-point7 circle index1 blue" data-aos="zoom-in"></div>
				<div class="bg-point8 circle index2 blue" data-aos="zoom-in"></div>
				<div class="bg-point9 circle index3 blue" data-aos="zoom-in"></div>
      </div>
      <div class="parallax__layer parallax__layer--deep">
        <div class="bg-point10 circle index1 green" data-aos="zoom-in"></div>
				<div class="bg-point11 circle index2 green" data-aos="zoom-in"></div>
				<div class="bg-point12 circle index3 green" data-aos="zoom-in"></div>
      </div>
    </div>
	</div>
	<div class="title inner-center">
		<h1 class="title1 text-center" data-aos="fade-up"><%= t('pages.main.title') %></h1>
		<h2 class="title2 text-center" data-aos="fade-up"><%= t('pages.main.sub_title') %></h2>
		<%= partial 'icons' %>
	</div>

	<div class="clear"></div>

	<%= partial 'kinds_of_products' %>

	<%= partial 'references' %>

	<%= partial 'our_technology' %>

	<div class="steps">
		<div class="container">
			<div class="row">
				<div class="col col1">
					<span><p><strong>1</strong>analýza záměru</p></span>
				</div>
				<div class="col col2">
					<span><p><strong>2</strong>detailní analýza a projekt</p></span>
				</div>
				<div class="col col3">
					<span><p><strong>3</strong>implementace</p></span>
				</div>
				<div class="col col4">
					<span><p><strong>4</strong>provoz, údržba, rozvoj</p></span>
				</div>
			</div>
		</div>
	</div>
	<div class="kinds-of-contacts">
		<picture>
			<source loading="lazy" class="image-map" srcset="../images/map_bg.webp" type="image/webp" media="(min-width: 861px)">
			<source loading="lazy" class="image-map" srcset="../images/map_bg-small.webp" type="image/webp" media="(max-width: 860px)">  
			<source loading="lazy" class="image-map" srcset="../images/map_bg-small.png" type="image/png" media="(max-width: 860px)">  
			<img loading="lazy" class="image-map" alt="Logo hand" src="../images/map_bg.png" />
		</picture>
		<div class="container">
			<div class="row">
				<div class="col col1">
					<div class="cont" data-aos="fade-up">
						<form action="//formspree.io/vyvojari@iquest.cz" method="POST" id="contact_form_kozultace_zdarma" class="contact-form">
							<input type="hidden" name="_next" value="https://www.iquest.cz/success" />
							<input type="text" name="_gotcha" style="display:none" />
							<h4>Napište nám</h4>
							<span class="sub-title">vyvojari@iquest.cz</span>
							<div class="form-group">
								<input type="text" name="email" placeholder="email" />
							</div>
							<div class="form-group">
								<textarea name="vzkaz">Dobrý den, &#010;rádi bychom poptali ...&#010;&#010;Tel.:&nbsp;</textarea>
							</div>
							<button type="submit" id='submit_<%= current_page.page_id.split('.')[0] %>'>ODESLAT</button>
						</form>
					</div>
				</div>
				<div class="col col2 address">
					<div class="cont" data-aos="fade-up">
						<h4>Navštivte nás</h4>
						<div>
							<span class="sub-title city">Praha:</span>
							<span class="sub-title first">Sněmovní 9, 118 00 Praha 1 - Malá Strana</span>
							<span class="sub-title city">Brno:</span>
							<span class="sub-title">Cejl 494/25, Brno</span>
						</div>
						<a href="/kontakt" class="submit">ZOBRAZIT MAPU</a>
					</div>
				</div>
				<div class="col col3">
					<div class="cont" data-aos="fade-up">
						<form action="//formspree.io/vyvojari@iquest.cz" method="POST" id="contact_form_tel_kozultace_zdarma" class="contact-form">
							<input type="hidden" name="_next" value="https://www.iquest.cz/success" />
							<input type="text" name="_gotcha" style="display:none" />
							<input type="text" name="tema" value="Zavolejte mě prosím." style="display:none" />
							<div class="shadow">
								<h4>Zavolejte nám</h4>
								<span class="sub-title"><a href="tel:+420777314768">+ 420 777 314 768</a></span>
								<a href="/kontakt" class="call-us fa fa-phone"></a>
								<a href="tel:+420777314768" class="call-us fa fa-phone mobile"></a>
							</div>
							<div class="sub-cont">
								<span>Zanechte kontakt, zavoláme Vám</span>
								<div class="form-group">
									<input type="text" name="phone" value="+420 " />
								</div>
								<button type="submit" id='submit_tel_<%= current_page.page_id.split('.')[0] %>'>ODESLAT</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= partial 'footer' %>

<script type="text/javascript">
	$(document).ready(function() {
		$('.we-are-the-champions').slick({
			autoplay: true,
			autoplaySpeed: 2000,
			dots: true
		});
	});

	$(window).scroll(function(){
		$('.circles').scrollTop($(document).scrollTop());
	});

	$('<img alt="Greenswan" src="/images/Refs/greenswan.png" />');
	$('<img alt="cia-news" src="/images/Refs/cia-news.png" />');
	$('<img alt="Cemio" src="/images/Refs/cemio.png" />');
	$('<img alt="Ignum" src="/images/Refs/ignum.png" />');
	$('<img alt="modry-andel" src="/images/Refs/modry-andel.png" />');
	$('<img alt="Autoprima" src="/images/Refs/autoprima.png" />');
	$('<img alt="Procare" src="/images/Refs/procare.png" />');

	$('.reference .circle').on('mouseenter', function() {
		$(this).addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).removeClass('animated pulse');
	})

	$('.info .box').on('mouseenter', function() {
		$(this).find('img').addClass('animated pulse');
	}).on('mouseleave', function() {
		$(this).find('img').removeClass('animated pulse');
	})

	function makeNewPosition($container) {
		// Get viewport dimensions (remove the dimension of the div)
		$container = ($container || $(window))
		var h = $container.height() - 50;
		var w = $container.width() - 50;

		var nh = Math.floor(Math.random() * h);
		var nw = Math.floor(Math.random() * w);

		return [nh, nw];
	}

	function animateDiv(element) {
		var $target = $(element);
		var newq = makeNewPosition($target.parent());
		var oldq = $target.offset();
		var speed = calcSpeed([oldq.top, oldq.left], newq);

		$(element).animate({
				top: newq[0],
				left: newq[1]
		}, speed, function() {
				animateDiv(element);
		});
	};

	function calcSpeed(prev, next) {
		var x = Math.abs(prev[1] - next[1]);
		var y = Math.abs(prev[0] - next[0]);
		var greatest = x > y ? x : y;
		var speedModifier = 0.07;
		var speed = Math.ceil(greatest / speedModifier);
		return speed;
	}
</script>
