---
title: Vývoj mobilních aplikací nové generace | iQuest s.r.o.
subtitle: Vyberte ty nejlepší na vývoj mobilních aplikaci. Vyvíjíme mobilní aplikace nové generace, jedna aplikace pro Android, IOS a webový prohližeč.
---
<div class="what-we-do">
  <header></header>
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <a href="/"><i class="fa fa-3x fa-arrow-circle-left"></i></a>
    </div>
    <h1 data-aos="fade-up">Vyvíjíme mobilní aplikace nové generace</h1>
    <h2 class="text-green" data-aos="fade-up">Jedna aplikace pro Android a iPhone</h2>
    <h2 data-aos="fade-up">Pro Váš startup, zaběhlý projekt i velkou firmu</h2>
    <div class="row">
      <div class="col-offset-30 col-20 icons" data-aos="fade-right">
        <% link_to t('urls.mobilni_aplikace'), :class => 'box' do %>
        <div class="path-box">
          <img alt="podnikové mobilní aplikace" src="/images/mobile_apps/ico1.png">
          <div class="img-wrap">
            <img class="ico" alt="Phone_with_hand_128" src="/images/Phone_with_Hand_128.png">
          </div>
          <div class="text">Mobilní aplikace<br /> pro firmy</div>
          <p class="small">firemní interní aplikace, <br> informační systémy</p>
        </div>
        <% end %>
      </div>
      <div class="col-20 icons" data-aos="fade-left">
        <% link_to t('urls.verejne_aplikace'), :class => 'box' do %>
        <div class="path-box">
          <img alt="veřejné mobilní aplikace" src="/images/mobile_apps/ico2.png">
          <div class="img-wrap">
            <img class="ico" alt="Phone_with_hand_128" src="/images/Phone_with_Hand_128.png">
          </div>
          <div class="text">Mobilní aplikace<br /> pro všechny</div>
          <p class="small">běžné veřejně dostupné <br> mobilní aplikace</p>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="multi-platform">
    <div class="inner">
      <img alt="ikona apple" src="/images/mobile_apps/apple.png">
      <span class="symbol">+</span>
      <img alt="ikona android" src="/images/mobile_apps/android.png">
      <span class="symbol equals">=</span>
      <span class="one-application">jedna aplikace</span>
    </div>
    <p>Mobilní aplikace nové generace fungují na více platformách najednou</p>
  </div>
  <%= partial 'kinds_of_products' %>
  <div class="info">
    <div class="box left v-center">
      <img alt="Hybridní mobilní aplikace nové generace" src="/images/enterprise_mobile_applications_1.jpg" data-aos="fade-right" />
      <div class="offset" data-aos="fade-left">
        <h3>Jaký je rozdíl našich mobilních aplikací oproti běžným?</h3>
        <p>
          <b>Tvoříme mobilní aplikace pro všechny platformy najednou.</b> Hybridní způsob vývoje pomáhá <b>ušetřit čas, snížit náklady na vývoj a zlepšit kvalitu software</b> díky snadnému testování a údržbě.
          <br /><br />
          Používáme speciální technologie (Cordova, Bootstrap, EmberJS) pro rychlý vývoj. Co nejjednodušší vzhled pro použití při každodenní práci. Jednoduché a rychlé ovládání. Snadné a rychlé provádění změn a úprav v reálném čase. Obvykle napojení na vnitrofiremní, či jiný systém.
        </p>
      </div>
    </div>
    <p><b>Hybridní mobilní aplikace nové generace</b> vypadají jako původní nativní aplikace, mají však značné výhody. <b>Tvorba mobilních aplikací</b> probíhá podobně jako vývoj webových aplikací, je však přizpůsoben mobilním platformám.</p>
    <p>Pro uživatele není mezi novou hybridní a původní nativní prakticky žádný rozdíl. Oba typy aplikací mohou být staženy z App Store nebo Google Play, oba mohou být uloženy na mobilním zařízení a spouští se stejným způsobem. Příklady známých <b>hybridních mobilních aplikací</b> jsou Instagram, Uber, LinkedIn a Travelocity.</p>
    <p>Hlavní výhoda vývoje mobilních aplikací nové generace je, že stejné komponenty mohou být použity na různých platformách, takže vývojáři nemusí opakovaně znovu a znovu kódovat aplikace od nuly pro každou mobilní platformu. Jedna aplikace funguje s drobnými úpravami na Android smartphonech, iPhonech, tabletech i ve webovém prohlížeči. <b>Tvorba mobilních aplikací pro Android a iOS</b> je užitečná jak pro startupy, tak i pro existující velké podniky</p>

  </div>
  <div class="we-are-the-champions" data-aos="fade-up">
    <div class="text-green">Specializované technologie</div>
    <div class="text-green">Rychlý vývoj</div>
    <div class="text-green">Okamžitá realizace požadavků</div>
    <div class="text-green">Přehledné a jednoduché ovládání</div>
  </div>
  <div class="info">
    <div class="box right v-center">
      <img alt="Mobilní aplikace pro více platforem" src="/images/enterprise_mobile_applications_2.jpg" data-aos="fade-left" />
      <div class="offset" data-aos="fade-right">
        <p><b>Proč mobilní aplikace od iQuest?</b></p>
        <ul>
          <li>Vyvíjíme mobilní aplikace pro více platforem. Více informace o <a href="http://www.jedenvyvoj.cz/">hybridních aplikacich zde.</a></li>
          <li>Přinášíme rychlost, úsporu a kvalitu.</li>
          <li>Vyvíjíme již více než 14 let i velmi náročné systémy.</li>
          <li>Máme zkušenost s velkými systémy.</li>
          <li>Nejsme pouze vývojáři, rádi konzultujeme i byznys model projektu.</li>
          <li>V průběhu vývoje provádíme uživatelské testování.</li>
          <li>Děláme podporu marketingu a virální šíření aplikací.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="benefits">
    <h3>Výhody vývoje hybridních aplikací pro mobilní zařízení</h3>
    <div class="benefits-content">
      <div class="box">
        <div class="icon-circle green-dark">
          <i class="fa fa-rocket" aria-hidden="true"></i>
        </div>
        <p class="text"><b>Vyvíjí jeden tým</b><br>pro Android, iPhone i web</p>
      </div>
      <div class="box">
        <div class="icon-circle yellow-dark">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <p class="text"><b>Snadná údržba</b><br>díky moderním technologiím</p>
      </div>
      <div class="box">
        <div class="icon-circle blue-dark">
          <i class="fa fa-usd" aria-hidden="true"></i>
        </div>
        <p class="text"><b>Cena</b><br>Vývoj je jeden pro všechny platformy.</p>
      </div>
      <div class="box">
        <div class="icon-circle orange-dark">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
        <p class="text"><b>Vstup na trh</b><br>v krátkodobém horizontu</p>
      </div>
    </div> <!-- .benefits-content -->
  </div>
  <h3 class="text-green mobile-h3" data-aos="fade-up">Využijte jednu mobilní aplikaci na více platformách.<br />Ušetřete za vývoj.</h3>
  <%= link_to "Kontaktujte nás", t('urls.contact'), :id => 'konzultace_zdarma', :class => 'konzultace-zdarma kontakt-btn', :'data-aos' => 'fade-up' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>

  <div class="links">
    <h3>Zajímavé odkazy o hybridních aplikacích</h3>
    <ul>
      <li><a href="http://developer.telerik.com/featured/what-is-a-hybrid-mobile-app/">What is the hybrid mobile app?</a></li>
      <li><a href="https://pixelfield.cz/blog/hybridni-mobilni-aplikace-kdy-ano-a-kdy-ne/">Hybridní mobilní aplikace – kdy ano a kdy ne?</a></li>
      <li><a href="https://cordova.apache.org/">Apache Cordova - framework pro vývoj hybridních mobilních aplikací</a></li>
      <li><a href="http://www.hybridniaplikace.cz ">Stránka o hybridních aplikacích</a></li>
    </ul>
  </div>
</div>

<%= partial 'footer' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.we-are-the-champions').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      dots: true
    });
  });

  $('.back-fixed').on('mouseenter', function() {
    $(this).addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).removeClass('animated pulse');
  })

  $('.icons .box').on('mouseenter', function() {
    $(this).find('.img-wrap').addClass('animated pulse');
  }).on('mouseleave', function() {
    $(this).find('.img-wrap').removeClass('animated pulse');
  })
</script>
