---
title: Vývoj mobilních aplikací pro firmy | iQuest s.r.o.
subtitle: Dejte Vaším zaměstnancům mobilní aplikaci, se kterou budou rádi pracovat. Zvolte hybridní mobilní aplikace pro firmy od iQuest.
---
<div class="what-we-do">
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <% link_to t('urls.mobile_applications') do %><i class="fa fa-3x fa-arrow-circle-left"></i><% end %>
    </div>
    <h1 data-aos="fade-up">Vyvíjíme a integrujeme mobilní aplikace pro firmy</h1>
    <h2 data-aos="fade-up" style="margin-bottom:80px;">Optimální řešení pro Vaš tým s mobily v terénu</h2>
  </div>
  <div class="info-container">
    <div class="info-container--skew-restore container">
      <div class="info m-b-10">
        <div class="box left v-center">
          <img alt="podnikové mobilní aplikace" src="/images/podnikove_mobile_applications_1.jpg" data-aos="fade-right" />
          <div data-aos="fade-left">
            <h3>Naše podnikové mobilní aplikace splňují důležité náležitosti:</h3>
            <ul>
              <li>Optimalizované pro snadné využití v každodenní práci.</li>
              <li>Snadné a rychlé ovládání.</li>
              <li>Rychlé a jednoduché provádění změn a úprav v reálném čase.</li>
              <li>Pracují online i offline.</li>
              <li>Obvykle napojení na vnitrofiremní, či jiný systém.</li>
              <li>Využívají hardwarových prostředků mobilních zařízení (GPS, mapy, fotoaparát a jiné).</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="box right v-center">
          <img alt="mobilní aplikace pro firmy" src="/images/podnikove_mobile_applications_2.jpg" data-aos="fade-left" />
          <div data-aos="fade-right">
            <h3>Jaké podnikové mobilní aplikace jsme vytvořili?</h3>
            <h3>Mobilní aplikace pro:</h3>
            <ul>
              <li><b>merchandisery</b> společnosti Space and Profit.</li>
              <li><b>řidiče</b> taxi Modrý anděl.</li>
              <li><b>servisní pracovníky</b> plynových kotlů Hašek servis.</li>
              <li><b>obchodní reprezentanty</b> Green­Swan Pharmaceuticals ČR.</li>
              <li>obchodní reprezentanty Green­Swan Pharmaceuticals SR.</li>
              <li>obchodní reprezentanty <b>Cemio Switzerland</b>.</li>
              <li>obchodní reprezentanty Magistra lékárny.</li>
              <li>A další...</li>
            </ul>
          </div>
        </div>
      </div>
      <h2 data-aos="fade-up" class="text-center m-t-8">Dejte Vaším zaměstnancům aplikaci, se kterou budou rádi pracovat</h2>
      <div class="text-center button-row"><%= link_to "Kontaktujte nás", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>

  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>
