---
title: Corporate mobile applications development | iQuest s.r.o.
subtitle: Give your employees a mobile app that they will like to work with. Choose corporate hybrid mobile app by iQuest.
---
<div class="what-we-do">
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <% link_to t('urls.mobile_applications') do %><i class="fa fa-3x fa-arrow-circle-left"></i><% end %>
    </div>
    <h1 data-aos="fade-up">We develop and integrate mobile applications for companies</h1>
    <h2 data-aos="fade-up" style="margin-bottom:80px;">The optimal solution for your mobile team in the field</h2>
  </div>
  <div class="info-container">
    <div class="info-container--skew-restore container">
      <div class="info m-b-10">
        <div class="box left v-center">
          <img alt="podnikové mobilní aplikace" src="/images/podnikove_mobile_applications_1.jpg" data-aos="fade-right" />
          <div class="offset" data-aos="fade-left">
            <h3>Our  enterprise mobile applications meet the important requirements:</h3>
            <ul>
              <li>Optimized for easy use in everyday work.</li>
              <li>Clear and simple control.</li>
              <li>Easily and quickly made changes and adjustments in real time.</li>
              <li>Works online and offline.</li>
              <li>Usually connected to corporate system or other systems.</li>
              <li>They use the hardware of mobile devices (GPS, maps, camera, and others).</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="box right v-center">
          <img alt="mobilní aplikace pro firmy" src="/images/podnikove_mobile_applications_2.jpg" data-aos="fade-left" />
          <div data-aos="fade-right">
            <h3>What enterprise mobile applications have we created?</h3>
            <h3>Mobile applications for:</h3>
            <ul>
              <li>Space and Profit company’s<b>merchandisers.</b></li>
              <li>Blue angel’s taxi<b>drivers</b></li>
              <li><b>Service workers</b> of gas boilers in Hašek service.</li>
              <li>Green­Swan Pharmaceuticals’ ČR<b>sales representatives</b>.</li>
              <li>Green­Swan Pharmaceuticals’ SR sales representatives.</li>
              <li><b>Cemio Switzerland’s</b>sales representatives.</li>
              <li>Magistra pharmacies’ sales representatives.</li>
              <li>And others...</li>
            </ul>
          </div>
        </div>
      </div>
      <h2 class="text-center m-t-8" data-aos="fade-up">Give your employees an application<br /> that they will like to work with</h2>
      <div class="text-center button-row"><%= link_to "Contact us", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>
