---
title: Vývoj mobilních aplikací pro veřejnost | iQuest s.r.o.
subtitle: Máte nápad na veřejně dostupnou mobilní aplikace? Nechte nás vyvinout běžné veřejně dostupné mobilní aplikace. Dokonalé řešení pro Váš startup nebo bežící projekt.
---
<div class="what-we-do">
  <div class="title">
    <div class="back-fixed" data-aos="fade-left">
      <% link_to t('urls.mobile_applications') do %><i class="fa fa-3x fa-arrow-circle-left"></i><% end %>
    </div>
    <h1 data-aos="fade-up" data-aos="fade-up">Vyvíjíme mobilní aplikace nové generace</h1>
    <h2 data-aos="fade-up" style="margin-bottom:80px;">Dokonalé řešení pro Váš startup nebo bežící projekt</h2>
  </div>
  <div class="info-container">
    <div class="info-container--skew-restore container">
      <div class="info m-b-10 p-b-10">
        <div class="box left">
          <img alt="mobilní aplikace pro veřejnost" src="/images/verejne_mobile_applications_1.jpg" data-aos="fade-right" />
          <div data-aos="fade-left">
            <h3>V čem jsou naše mobilní aplikace pro všechny jiné?</h3>
            <ul>
              <li>Aplikace plné nejlepších nápadů.</li>
              <li>Skvělý design, který zaujme.</li>
              <li>Atraktivní ovládání odpovídající nejnovějším trendům.</li>
              <li>Maximalní možné využití hardware telefonu.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="box right">
          <img alt="veřejné hybridní mobilní aplikace" src="/images/verejne_mobile_applications_2.jpg" data-aos="fade-left" />
          <div data-aos="fade-right">
            <h3>Proč mobilní aplikace od iQuest?</h3>
            <ul>
              <li>Vyvíjíme mobilní aplikace pro více platforem. Více informací o <a href="https://www.jedenvyvoj.cz/">hybridních aplikacích zde.</a></li>
              <li>Přinášíme rychlost, úsporu a kvalitu.</li>
              <li>Vyvíjíme již více než 17 let i velmi náročné systémy.</li>
              <li>Máme zkušenost s velkými systémy.</li>
              <li>Nejsme pouze vývojáři, rádi konzultujeme i byznys model projektu.</li>
              <li>V průběhu vývoje provádíme uživatelské testování.</li>
              <li>Děláme podporu marketingu a virální šíření aplikací.</li>
            </ul>
          </div>
        </div>
      </div>
      <h3 class="text-center m-b-0 m-t-10 p-t-4  font-bold" data-aos="fade-up">Nejsme jen programátoři. Máme zkušenosti a software děláme pro lidi.</h3>
      <div class="text-center button-row"><%= link_to "Kontaktujte nás", t('urls.contact'), :class => 'contact-button' %></div>
    </div>
  </div>
  <%= partial 'kinds_of_products' %>
  <%= partial 'references' %>
  <%= partial 'our_technology' %>
</div>
<%= partial 'footer' %>
